#fw-container {
 text-align: left;
 font-family: 'Noto Sans', Helvetica, sans-serif;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-weight: bold;
	border: 0px solid #CCCCCC;
}

#header {
display: none;
}

.fw-feed-item {
	margin: 0 0 0px 0;
	padding: 5px;
	clear: both;
}
